@font-face {
  font-family: SettingsIcons;
  font-display: swap;
  src: url("./SettingsIcons.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #f3f3f3;
  --txt_clr: 0, 0, 0;
  --clr_prm: #0067c0;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: rgb(var(--txt_clr));
  display: flex;
  margin-left: 300px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg);
  height: 100vh;
  width: 300px;
  overflow: auto;
}
.nav_bottom {
  display: flex;
  flex-direction: column;
}
.nav_top {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 9;
}
.navLink {
  color: inherit;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  height: 2.25rem;
  padding: 0.5rem;
  margin: 2px 1rem;
  border-radius: 0.33rem;
}
nav a img {
  margin: 0 0.5rem;
}
.navLink:hover,
.navLink.active {
  background: rgba(var(--txt_clr), 0.033);
}
.navLink:after {
  content: "";
  height: 2rem;
  width: 3px;
  position: absolute;
  left: 0;
  bottom: 10px; /* 8px padding + 2px margin */
  border-radius: 1.5px;
  background: var(--clr_prm);
  transform: translateY(-110%);
}
.navLink.active::after {
  transform: translateY(0);
  height: 1rem;
  transition: transform 0.13s, height 0.2s 0.13s;
}

.account {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 1rem;
}
.account::after,
.account.active::after {
  transform: translateY(1000%);
}

.search {
  height: 2rem;
  border: 0;
  border-bottom: 1px solid var(--clr_prm);
  border-radius: 0.33rem;
  padding: 0.5rem;
  margin: 1rem;
}
.search:hover {
  background: rgba(0, 0, 0, 0.033);
}
.search:focus {
  border-bottom: 2px solid var(--clr_prm);
}
.search::placeholder {
  color: rgba(var(--txt_clr), 0.66);
}
.search:focus-visible {
  outline: none;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 0 1.5rem 3rem 1.5rem;
}
main h1 {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.8rem;
  background: var(--bg);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

main h2 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  height: 3rem;
}

.tileCont {
  animation: animateUp 0.2s forwards;
}

@keyframes animateUp {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateY(0);
  }
}

.tile {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0.33rem;
  max-width: 1000px;
  min-height: 68px;
  padding: 0.5rem 3rem 0.5rem 0rem;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.tile:hover {
  background: rgba(255, 255, 255, 0.33);
}
.tile::after {
  content: ">";
  position: absolute;
  right: 1rem;
}

.tile span {
  font-size: 1.25rem;
  margin: 0 1rem;
  font-family: SettingsIcons;
}

.tile_desc {
  color: rgba(var(--txt_clr), 0.66);
  font-size: 0.8rem;
}

.hamburger {
  display: none;
}
.hamburger:hover {
  background: rgb(var(--txt_clr), 0.1);
}

::-webkit-scrollbar {
  background: var(--bg);
  width: 12px;
}
::-webkit-scrollbar:hover {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--txt_clr), 0.5);
  border-radius: 6px;
  border: 5px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  border: 3.5px solid transparent;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    z-index: 9999;
  }
  body {
    margin-left: 0;
  }
  nav {
    transform: translateX(-110%);
    z-index: 999;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1);
    background: var(--bg);
  }
  nav.open {
    transform: translateX(0);
  }
  .nav_top {
    background: var(--bg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202020;
    --txt_clr: 255, 255, 255;
    --clr_prm: #4cc2ff;
  }

  .search {
    background: rgba(255, 255, 255, 0.033);
  }
  .search:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  .tile {
    background: rgba(255, 255, 255, 0.05);
  }
  .tile:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar:hover {
    background: #2b2b2b;
  }
}
