@font-face {
  font-family: SettingsIcons;
  font-display: swap;
  src: url("./SettingsIcons.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
:root {
  --bg: #eff4f9;
  --txt_clr-rgb: 0 0 0;
  --clr_prm: #0067c0;
  --scroll: rgb(255 255 255 / 80%);
}
body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: rgb(var(--txt_clr-rgb));
  display: flex;
  margin-left: 300px;
  font-size: 14px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg);
  height: 100vh;
  width: 300px;
  overflow: auto;
}
.nav_bottom {
  display: flex;
  flex-direction: column;
}
.nav_top {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 99;
}
.navLink {
  color: inherit;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  height: 36px;
  padding-left: 7px;
  margin: 2px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.navLink img {
  margin: 0 10.5px 0 7px;
}
.navLink:hover,
.navLink.active {
  background: rgb(var(--txt_clr-rgb) / 3.33%);
}
.navLink:after {
  content: "";
  height: 32px;
  width: 3px;
  position: absolute;
  left: 0;
  bottom: 10px; /* 8px padding + 2px margin */
  border-radius: 1.5px;
  background: var(--clr_prm);
  transform: translateY(-110%);
}
.navLink.active::after {
  transform: translateY(0);
  height: 16px;
  transition: transform 0.13s, height 0.2s 0.13s;
}

.account {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 16px;
}
.account::after,
.account.active::after {
  transform: translateY(1000%);
}
.account div p:first-child {
  font-weight: 500;
}
.account div p:last-child {
  font-size: smaller;
}

.search {
  height: 32px;
  border: 0;
  border-bottom: 1px solid var(--clr_prm);
  border-radius: 4px;
  padding: 8px;
  margin: 16px;
}
.search:hover {
  background: rgb(0 0 0 / 3.33%);
}
.search:focus {
  border-bottom: 2px solid var(--clr_prm);
}
.search::placeholder {
  color: rgb(var(--txt_clr-rgb) / 66%);
}
.search:focus-visible {
  outline: none;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 0 24px 44px 24px;
}
main h1 {
  padding: 14px 0;
  font-weight: 500;
  font-size: 28px;
  background: var(--bg);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

.tilesCont {
  animation: slideUp 0.2s forwards;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@keyframes slideUp {
  from {
    transform: translateY(70px);
  }
  to {
    transform: translateY(0);
  }
}

.tile {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(255 255 255 / 67%);
  border-radius: 4px;
  max-width: 1000px;
  min-height: 67px;
  padding: 7px 42px 7px 0;
  border: 1px solid rgb(0 0 0 / 10%);
  position: relative;
}
.tile:hover {
  background: rgb(255 255 255 / 33%);
}
.tile::after {
  content: ">";
  position: absolute;
  right: 16px;
}
.tile span {
  font-size: 20px;
  margin: 0 21px 0 17.5px;
  font-family: SettingsIcons;
}
.tile_desc {
  color: rgb(var(--txt_clr-rgb) / 66%);
  font-size: 12.33px;
}

.tile.square {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  padding: unset;
  font-weight: 500;
}
.tile.square span {
  font-size: 48px;
}
.tile.thin-blue {
  min-height: unset;
  height: unset;
  color: var(--clr_prm);
  justify-content: center;
  margin: 4px 0;
}
.tile.thin-blue::after,
.tile.square::after {
  display: none;
}

.subHeading,
.subHeading:hover {
  font-weight: 500;
  height: 45px;
  display: flex;
  align-items: center;
}

.spacer {
  height: 12px;
}

.navMenuBtn {
  display: none;
}

/* scrollbar */
::-webkit-scrollbar {
  --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");

  width: 14px;
  border-radius: 14px;
}
::-webkit-scrollbar:hover {
  background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px) / contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px) / contain no-repeat, var(--scroll);
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--txt_clr-rgb) / 50%);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 14px;
}
::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
}
::-webkit-scrollbar-button {
  height: 7px;
}

@media only screen and (max-width: 768px) {
  .navMenuBtn {
    display: flex;
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 12px;
    z-index: 9999;
  }
  .navMenuBtn:hover {
    background: rgb(var(--txt_clr-rgb) / 10%);
  }

  body {
    margin-left: 0;
  }
  nav {
    transform: translateX(-110%);
    z-index: 999;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1);
    background: var(--bg);
  }
  nav.open {
    transform: translateX(0);
  }
  .nav_top {
    background: var(--bg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202020;
    --txt_clr-rgb: 255 255 255;
    --clr_prm: #4cc2ff;
    --scroll: rgb(44 44 44 / 80%);
  }

  .search {
    background: rgb(255 255 255 / 3.33%);
  }
  .search:hover {
    background: rgb(255 255 255 / 5%);
  }

  .tile {
    background: rgb(255 255 255 / 5%);
  }
  .tile:hover {
    background: rgb(255 255 255 / 10%);
  }

  ::-webkit-scrollbar {
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
  }
}
